/*** img ***/
img {
    width: 3rem;
    border-radius: 50%;
}

.notificationIcon {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    align-self: center;
    text-align: center;
    font-size: 1.4rem;
    color: #9FD9F9;
    background-color: white;
    padding: 0.9rem 0 0 0;
}

/*** text ***/
.smallText {
    font-size: .7rem;
    color: #535353;
}

/*** background ***/
.messages {
    background-image: url(./img/mine.jpg);
}

/*** div ***/
.notification {
    background-color: #9FD9F9;
    
}

.sent {
    background-color: #DCF8C0;
}

.contacts {
    height: 30rem;
}

.contact {
    background-color: aliceblue;
}

.contact:hover {
    background-color: rgb(197, 197, 197)
}